body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.section-1{
    width: 88%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-1 h1{
    width: 70%;
    font-size: 60px;
    margin: 0;
    position: relative;
}
.section-1 h1::before {
    content: "";
    position: absolute;
    left: -11px;
    top: 0px;
    border-left: 5px solid #FF5959;
    border-radius: 5px;
    height: 100%;
}
.section-1 p{
    width: 73%;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.span-color{
    color:#FFAD5A; 
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 88%;
    border-radius: 40px; 
}
.link-btn{
    text-decoration: none;
    font-size: 16px;
    color: white;
    background:#FF5959;
    padding: 12px 40px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
}
.normar-span{
    display: block;
    margin-top: 50px;
}

.section-2{
    width: 88%;
    margin: 100px auto;
}
.section-2 h1{
    font-size: 48px;
    text-align: center;
}
.my-mission{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0% 3%;
    margin-top: 70px;
}
.mission{
    width: 28%;
    padding: 2%;
    border-radius: 26px;
}
.mission:nth-child(1){
    background:#EDF5F6;
}
.mission:nth-child(2){
    background:#FFEEEE;
}
.mission:nth-child(3){
    background:#FFF4D6;
}
.mission img{
    width:250px;
    height: 250px;
}
.mission h2{
    font-size: 24px;
    font-weight: 600;
}
.mission p{
    font-size: 16px;
    line-height: 28px;
    color: #424242;
}
.half-width h2{
    font-size: 48px;
    margin: 10px 0px;
}

.section-3{
    width: 88%;
    margin: 100px auto;
}
.section-3 h1{
    font-size: 48px;
    text-align: center;
}
.my-traveling {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.traveling {
    width: 30%;
    margin-bottom: 75px;
}
.traveling h2{
    font-size: 28px;
    text-align: center;
    margin-bottom: 0px;
}
.traveling img{
    width: 100%;
    height: 100%;
    border-radius: 28px;
}

.footer-section{
    margin-top: -50px;
    background: #0B0D17;
    height: 177px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-section h2{
    font-size: 36px;
    color: white;
    margin: 0px 0px 15px;
}
.footer-color-spn{
    color:#FF5959 ;
}
.footer-spn{
    color: #D9DBE1;
    font-size: 14px;
}